name: Backend CI

on:
  pull_request: ~

  push:
    branches:
      - "main"
      - "e-*"
      - "b-*"
  workflow_dispatch:
    inputs:
      debug_enabled:
        type: boolean
        description: "Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)"
        required: false
        default: false

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'
          cache: 'maven'
      - run: ./mvnw clean install -T 4 -DskipTests -DskipITs

  unit_tests:
    name: Unit tests
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'
          cache: 'maven'
      - run: ./mvnw test -T 4

  integration_tests:
    name: Integration tests
    runs-on: ubuntu-latest
    needs: [ unit_tests ]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'adopt'
          java-version: '17'
          cache: 'maven'
      - run: ./mvnw integration-test -T 4